body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}
footer {
	background-color: #Fc0;
	margin-bottom: 0;
	padding: 2rem;
}

main #content img {
	width: 100%;
}

.business-home {
	flex-direction: column;
	font-size: 14px;
}

.relative {
	position: relative;
}

.required::after {
	content: "*";
	color: red;
	margin-left: 0.125rem;
}

.hidden {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

#cta-button {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 24px;
	background: #fff;
	box-shadow: 0 4px 6px #00000022;
	font-weight: 500;
	transition: all .2s ease-in-out;
	cursor:pointer;
}

#cta-button:hover {
	box-shadow: 0 6px 8px #00000033;
	transform: translateY(-2px);
}

#content #weather div {
	padding: 0;
}
#content .forecast-day {
	padding: 0;
}

header {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 999;
	box-shadow: 0 8px 10px #00000022;
}

header > div {
	display: flex;
	align-items: center;
	padding: 0.75rem;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.flex > div {
	width: 100%;
}
#content {
	text-align: center;
}

.business-card div {
	padding: 0 !important;
}


.business-card > .flex > div {
	text-align: left;
}

	#content > section > .grid {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 1rem;
		margin-bottom: 2.5rem;
		border-bottom: none;
		padding: 0 2rem;
	}

	#content > section .grid > div {
		border: 1px solid #ccc !important;
		display: flex;
		padding: 0;
		flex-direction: column;
	}

	.grid > div > h3 {
		margin: 0;
		padding: 1em 0;
		background: #f0f0f0;
	}

#content #directory-list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

}

#content #directory-list.list-view {
	display: block;
}


	#content .list-view p {
		display: none;
	}

	#content .list-view div {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	#content .list-view div h2 {
		text-align: left;
		flex: 1;
	}

	#content .list-view div img {
		display: none;
	}

#content ul {
	list-style: none;
	padding: 0;
}

#content div {
	padding: 2rem;
	border-bottom: 1px solid #ccc;
}

#content div:last-of-type {
	border-bottom: none;
}


#content div img {
	width: 200px;
	max-height: 200px;
}

header h1 {
	display: flex;
	align-items: center;

	font-size: 1.15rem;
	width: 75%;
}

header h1 img {
	width: 4.5rem;
	height: 4.5rem;
}

nav {
  width: 100%;
  display: none;
  background-color: #1d3461;
  color: #fff;
}


 nav.show {
  display: block;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	padding: 1rem;
	border-bottom: 1px solid #00000022;
}

nav ul li:first-of-type {
	border-top: 1px solid #00000022;
}

nav ul li a {
	text-decoration: none;
	color: #FFFFFFF0;
}


#dark-mode img, #dark-mode-resp img {
	width: 32px;
	height: 32px;
}

#buttons {
	display: flex;
	gap: 5px;
	padding-right: 0.75rem;
	align-items: center;
}

#buttons button {
	background: none;
	border: none;
}

 #menu {
  font-size: 3rem;
  display: block;
  text-decoration: none;
  margin-top: -0.75rem;
  padding: 0rem 0.75rem;
}

header #menu::before {
  content: "≡";
}

footer > section:nth-of-type(2) {
	  display: flex;
	  justify-content: center;
	  gap: 32px;
	  margin: 2rem 0;
}

.li-active {
	background-color: #fffffff0;
}

.li-active .active {
	color: #1d3461;
}
footer a {
	background-color: #00000022;
	border-radius: 36px;
	width: 64px;
	height:64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul li:last-of-type {
	display: none;
}

footer img {
	width: 32px;
	height: 32px;
}

form {
	display: flex;
	text-align: left;
	flex-direction: column;
	width: 280px;
	border: 1px solid #f0f0f0;
	padding: 2rem;
	padding-top: 2.25rem;
	box-shadow: 0 4px 20px #00000012;
	border-radius: 24px;
	margin: 4rem 0 4rem 0;
	font-size: 13px;
}

#content form .flex {
	display: flex;
	gap: 1rem;
	align-items: center;
	border: none;
	padding: 0;
}

.center-align {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

form h3 {
	font-weight: 500;
	margin: 0;
	display: flex;
	gap: 0.75rem;
	padding-bottom: 0.75rem;
}

form h3 div {
	position: relative;
	padding: 0 !important;
	max-height: 1px;
	margin-top: 0.5rem;
	flex: 1;
	background-color: #ccc;
}

.card {
	border: 1px solid #ccc;
	padding: 1rem;
	animation: fadeIn 0.5s ease-in-out;
	border-radius: 8px;
	box-shadow: 0 4px 6px #00000022;
	min-width: 250px;
}

.gold {
	background-color: #Fc0;
}

.silver {
	background-color: #C0C0C0;
}

.bronze {
	background-color: #75490A;
	color: #fff;
}

.np {
	background-color: #f0f0f0;
}

.card button {
	background-color: #1d3461;
	color: #fff;
	border: none;
	border-radius: 24px;
	cursor: pointer;
	font-weight: 600;
	width: 100%;
	box-shadow: 0 4px 6px #00000022;
	padding: 0.5rem 1rem;
	transition: all .2s ease-in-out;
}

#cards-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2.5rem;
	margin-bottom: 2rem;
	justify-content: center;
}

#content form .flex div {
	display: flex;
	flex-direction: column;
	flex:1;
	padding: 0;
	border: none;
	align-items: flex-start;
}

#content form .flex input {
	width: 100%;
	box-sizing: border-box;
}

form label {
	text-align: left;
}

form input, select, textarea {
	margin-bottom: 1rem;
}

form input[type="text"], input[type="tel"], input[type="email"], select, textarea {
	padding: 0.5rem;
	margin-top: .33rem;
	border: 1px solid #ccc;
	border-radius: 8px;
}

form button[type="submit"] {
	margin-top: 1rem;
	background-color: #1d3461;
	color: #fff;
	border: none;
	border-radius: 24px;
	cursor: pointer;
	font-weight: 600;
	box-shadow: 0 4px 6px #00000022;
	padding: 0.75rem 1.5rem;
	transition: all .2s ease-in-out;
}

form button[type="submit"]:hover {
	background-color: #1d3461f0;
	transform: translateY(-2px);
	box-shadow: 0 6px 8px #00000033;
}

dialog {
	text-align: left;
}

.feature {
	list-style: disc;
	padding-left: 1.5rem;
}

.grid-area {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
}
.grid-area div {
	display: grid;
	grid-template-areas: "title"
	"img"
	"address"
	"description";
}

#content .grid-area div img {
	border-radius: 8px;
	width: 100%;
	object-fit: cover;
	grid-area: img;
}

.grid area div h2 {
	grid-area: title;
}

.grid area div p:nth-of-type(1) {
	grid-area: address;
}

.grid area div p:nth-of-type(2) {
	grid-area: description;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
