@media screen and (min-width: 750px) {
  .hero-gradient {
    position: absolute;
    left: 0;
    width: 95%;
    height: 100%;
    background: linear-gradient(
      270deg,
      transparent 0%,
      var(--color-background) 100%
    );
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .color {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px #00000080;
    justify-content: center;
    font-weight: 500;
  }

  header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }

  header .header-container {
    flex: 1;
  }

  header #menu::before {
    display: none;
  }

  header > nav > .navigation {
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    padding: 0;
  }

  header .navigation {
    display: block;
  }

  header > nav > .navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 24px;
  }
  header > nav > .navigation > a > li {
    height: 43px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 0;
    transition: all 0.2s ease;
    box-shadow: none;
  }

  header > nav > .navigation > a > .li-active {
    background: transparent;
    color: var(--color-foreground);
    padding-bottom: 0.5rem;
    box-shadow: 0px 1px 0px var(--color-foreground);
  }

  header > nav > .navigation > a > p:hover:not(.li-active) {
    color: var(--color-secondary);
  }
  header > nav a {
    color: var(--color-white);
    text-decoration: none;
  }

  .hero-text {
    position: absolute;
    height: 100%;
    top: -24px;
    align-items: start;
    display: flex;
    margin-left: 48px;
    flex-direction: column;
    justify-content: center;
  }

  .hero-text h2 {
    text-align: left;
    line-height: 1.8;
  }

  .hero-text p {
    font-size: 18px;
    line-height: 1.45;
    text-align: left;
  }

  .cards {
    position: relative;
    flex-direction: row;
    margin-top: 1rem;
    padding: 0 2.5rem;
  }

  .cards > div {
    background-color: var(--color-background);
  }
}
